<!DOCTYPE html> 
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="put important words of your web page here"> 
    <meta name="description" content="put short description about your web page">
    <meta name="author" conent="put author name of this website here">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/home_page.css">

</head>
<body>
    <div class="homeContainer">
        <header>
            <div class="homeDiv">
                <img src="images/Logo 1.jpeg" alt="Logo">
                <span>Pizza Burger Food Court</span>
            </div>
            <nav class="homeNav">
                <ul class="homeList">
                    <li><a href="home_page.html">HOME</a></li>
                    <li><a href="registration_page.html">RESERVATION</a></li>
                    <li><a href="pizzas_page.html">PIZZA<i class="fa-solid fa-burger stylingLogo"></i></a></li>
                    <li><a href="burgers_page.html">BURGER<i class="fa-solid fa-pizza-slice stylingLogo"></i></a></li>
                </ul>
            </nav>
        </header>

        <section class="homeSection">
            <div class="homeSectionDiv">
                <h3>"We Give You An Eating Experience That You'll Never Forget!"</h3>
                <p>
                    We love sharing good fresh and hot fast food. With a different flavors that are carefully designed to bring you a truly 
                    satisfying food experience that you are sure to remember. 
                </p>
            </div>
            <div class="homeSectionDiv2">
                <img src="images/istockphoto-1314951233-170667a.jpg" height="250" width="300" class="orderImage">
                <img src="images/mums-cafe.jpeg" height="250" width="300">
            </div>
        </section>
        
        <footer class="homeFooter">
            <marquee behavior="scroll">Contact No - +91:7854-552310, Address: Guptha's Square - 2nd Floor, Kottapatnam Road, Nellore.</marquee>
        </footer>
    </div>

</body>
</html>
